/*.sender {
  display: flex;
  color: white;
  font-size: 15px;
  justify-content: right;
  align-items: right;
  padding-right: 10px;
  padding-left: 20px;
  margin-right: 25px;
  background-color: rgb(14, 94, 148);
  border-style: groove rgb(58, 116, 131);
}
*/
.whosends {
  width: auto;
  overflow: hidden;
  padding: 4px;
  margin-right: 10px;
  margin-left: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px #666;
  -moz-box-shadow: 2px 2px 5px #666;
  box-shadow: 1px 1px 1px #666;
  background-color: #003c4d;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  color: white;
  align-items: right;
  justify-content: right;
}
.whoreceives {
  width: auto;   
  padding: 4px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px #666;
  -moz-box-shadow: 2px 2px 5px #666;
  box-shadow: 1px 1px 1px #666;
  background-color: rgba(0, 0, 0, 0.486);
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  display: flex;
  padding-left: 5px;
  flex-direction: column;
  color: white;
  align-items: left;
  justify-content: left;
}
.spacing {
  padding-top: 8px;
  display: grid;
  justify-content: left;
  padding-left: 4px;
}
.spacing1 {
  padding-top: 2PX;
  display: grid;
  justify-content: right;
  
}
.inputsends {
  border: 1px solid #003c4d;
  display: flex;
  padding-top: 10px;
  background-color: white;
}
.sendbut {
  display: flex;
  justify-content: right;
}
.timesentreceive {
  display: flex;
  flex-direction: column;
  font-size: small;
  padding-top: 1px;
  padding-left: 8px;
  color: grey;
  font-family: "Times New Roman", Times, serif;
}

.timesentsends {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  padding-right: 8px;
  float: right;
  font-size: small;
  color: grey;
  font-family: "Times New Roman", Times, serif;
}
.backgroundembaixo{
  background-color: WHITE;
}